/*Description section*/

.desc {
  &-section {
    display: flex;
    align-items: center;
    padding-bottom: 94px;
    padding-top: 94px;
  }

  &-section__list .item + .item {
    margin-left: 30px;
  }

  &-section__list {
    display: flex;
    align-items: center;
  }
  &-section__icon {
    margin-bottom: 30px;
    background-color: $button-color;
    border: none;
    border-radius: 4px;
    width: 270px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &-section__text {
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    margin-bottom: 0px;
    margin-top: 10px;
  }
  &-section__subtitle {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 0px;
  }
}
