.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.social-links {
  display: flex;
  margin: 0px 10px 0 0;
}
.social-links:first-child {
  margin-left: 0px;
}
.social-links:last-child {
  margin-right: 0px;
}
.overlay {
  max-width: 1600px;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero.jpg);
  background-size: cover;
  background-position: center;
  background-color: $footer-background;
}
.is-hidden {
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
  transform: scale(0.5);
}
.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

h3 {
  display: inline;
  color: $head-text;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
button {
  cursor: pointer;
}
a {
  text-decoration: none;
}
